
OPENAI_API_KEY=your_openai_api_key_here

# Slack 
SLACK_BOT_TOKEN=xoxb-your-bot-token-here
SLACK_SIGNING_SECRET=your-signing-secret-here
SLACK_APP_TOKEN=xapp-your-app-token-here
SLACK_ANNOUNCEMENT_CHANNEL = RANDOM

# Paths 
DOCS_DIR=./docs
FAISS_INDEX_PATH=./data/faiss.index
METADATA_PATH=./data/metadata.json

# RAG settings
EMBEDDING_MODEL=text-embedding-3-small
CHUNK_SIZE=512
CHUNK_OVERLAP=64
TOP_K=5
